<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Id="Files" Guid="7F86CF94-2941-4421-8A47-E07CB3D1D1DD">
        <CreateFolder/>
        <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall" />
        <File Id="fil9vixDJf2hHDP.AuR_bLWKPn72fQ" KeyPath="yes" Source="..\WiimoteAddin\bin\$(var.WiimoteAddin.Platform)\$(var.WiimoteAddin.Configuration)\WiimoteAddin.dll" />
        <File Source="..\packages\WiimoteLib.1.7\lib\WiimoteLib.dll" /><!--TODO Pack custom WiimoteLib with patches for handling wiimote disconnections -->
        <File Source="..\WiimoteAddin\bin\$(var.WiimoteAddin.Platform)\$(var.WiimoteAddin.Configuration)\InTheHand.Net.Personal.dll" />
        <File Source="..\WiimoteAddin\bin\$(var.WiimoteAddin.Platform)\$(var.WiimoteAddin.Configuration)\PowerPointApi.dll" />
        <File Source="..\WiimoteAddin\bin\$(var.WiimoteAddin.Platform)\$(var.WiimoteAddin.Configuration)\OfficeApi.dll" />
        <File Source="..\WiimoteAddin\bin\$(var.WiimoteAddin.Platform)\$(var.WiimoteAddin.Configuration)\NetOffice.dll" />

        <!--TODO: Check if neccessary -->
        <File Source="..\WiimoteAddin\bin\$(var.WiimoteAddin.Platform)\$(var.WiimoteAddin.Configuration)\Microsoft.Expression.Drawing.dll" />
        
        <!-- TODO: Ensure that these registry keys are deleted (by default in WiX v4) on uninstall! -->
        <RegistryKey Key="Software\Microsoft\Office\PowerPoint\Addins\WiimoteAddin.Connect" Root="HKLM">
          <RegistryValue Name="Description"
                         Value="Wiimote Presenter. Uninstall this Add-In through Add\Remove Programs."
                         Type="string" />
          <RegistryValue Name="FriendlyName"
                         Value="Wiimote Presenter"
                         Type="string" />
          <!-- "Load on (PowerPoint) startup" == LoadBehaviour mode "3" -->
          <RegistryValue Name="LoadBehavior"
                         Value="3"
                         Type="integer" />
        </RegistryKey>
        
        <!-- DLL registration here, instead of regsvr32 in the DLL itself
             This is generated by running
                        heat.exe file WiimoteAddin.dll -o "out.wxs"
             then pasting the result here
             Note - heat.exe doesn't currently process x64 DLL's, but same result anyway if x86 DLL used -->
        <Class Id="{3C891984-93C5-4F55-AF62-5237D3E472FD}" Context="InprocServer32" Description="WiimoteAddin.Connect" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="WiimoteAddin.Connect" Description="WiimoteAddin.Connect" />
        </Class>
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32\1.0.0.0" Name="Class" Value="WiimoteAddin.Connect" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32\1.0.0.0" Name="Assembly" Value="WiimoteAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil9vixDJf2hHDP.AuR_bLWKPn72fQ]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32" Name="Class" Value="WiimoteAddin.Connect" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32" Name="Assembly" Value="WiimoteAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3C891984-93C5-4F55-AF62-5237D3E472FD}\InprocServer32" Name="CodeBase" Value="file:///[#fil9vixDJf2hHDP.AuR_bLWKPn72fQ]" Type="string" Action="write" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>